
body{
background-color:black;
}


 h1{
color: whitesmoke;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
background: black;
}


p{
color:whitesmoke;
font-family:Arial, Helvetica, sans-serif ;
font-size: 20px;
background: black;
}
#apelido{width: 100%;}