
body{
background-color:blue ;
}


 h1{
color: red;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
background: greenyellow;
}


p{
color:black ;
font-family:Arial, Helvetica, sans-serif ;
font-size: 20px;
background: white;
}